<h1 class ="display-4 text-center" style="color:#B97A95">Change the word: <%= @word.input() %></h1>
<p class= "text-center">Add new word in the text box then submit.</p>
<div class="row">
  <div class="col-sm-6 text-center">
  <hr>
  <form action="/home/<%= @word.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <input id="name" name="name" type="text">

  <button type="submit">click!</button>
</form>

  </div>
  <div class="col-sm-6">
  <form action="/home/<%= @word.id() %>" method="post">
<input name="_method" type="hidden" value="delete">
<hr>

<button type="submit">Delete word</button>
</form>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-ligth bg-ligth text-center">
<p><a href="/home">Go Back to word list</a></p>
</nav>
