<h3 class= "display-4 text-center" style="color:#B97A95">Start by adding a word</h3>
<p class="text-center">Type a word you want to learn then submit</p>
<hr>

<form class="text-center" action="/home" method="post">
  <div class="form-group">
    <input id="n" name="words_word" type="text">
    <button type="submit">click!</button>
  </div>
</form>