<h3>Start by adding a word</h3>

<form action="/home" method="post">
  <div class="form-group">
    <input id="n" name="words_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">click!</button>
</form>